.faqQuestion {
	color: var(--dark-blue);

	border: 1px solid var(--dark-blue);
	border-radius: 25px;

	display: flex;
	flex-direction: column;

	overflow: hidden;

	& p {
		font-family: var(--font-be-vietnam-pro);
		font-weight: 300;
	}

	& ol {
		padding: 0 1.25rem;
		list-style-type: disc;
	}

	& li {
		margin: 0.5rem 0;
	}
}

@media screen and (min-width: 768px) {
	.faqQuestion {
		max-width: 660px;
		width: 100%;
		margin: 0 auto;
	}
}
