.card {
	position: relative;
	border-radius: 17px;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.25);

	background-color: var(--dark-purple);

	& > img {
		width: 100%;

		object-fit: cover;
		aspect-ratio: 1.3;
	}

	& > .info {
		padding: 16px;
		padding-top: 60px;

		font-family: var(--font-be-vietnam-pro);
	}
}

.discount {
	position: absolute;
	top: 12px;
	right: 24px;

	background-color: var(--light-blue);

	font-size: 3rem;
	font-family: var(--font-square-peg);
	color: var(--dark-blue);

	/* Use something better than width and height */
	width: 120px;
	height: 120px;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}
