.nav {
	background-color: var(--dark-blue);

	color: white;
}

.menu {
	position: fixed;
	top: 0;
	left: 0;

	transition: transform 0.3s ease-in-out;

	width: 100vw;
	height: 100vh;

	background-color: var(--dark-blue);
	color: white;

	font-family: var(--font-quicksand);
	font-size: 2.25rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 39px;
}

.menuShown {
	transform: translateY(0);
}

.menuHidden {
	transform: translateY(100vh);
}

.freeDeliveryNotice {
	width: 100%;
	height: 30px;

	background-color: var(--light-blue);
	color: var(--dark-blue);

	display: flex;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;

	font-family: var(--font-inter);
	font-size: 0.6875rem;
}

.hero {
	background-position: center;
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;

	padding: 26px;

	text-align: center;
	color: white;

	& > h1 {
		font-family: var(--font-square-peg);
		font-size: 3rem;
	}

	& > .frontPage {
		font-size: 4rem;
	}

	& > h2 {
		/* This feels so wrong... having the same font size for h1 and h2 */
		font-size: 3rem;
		font-family: var(--font-quicksand);
		font-weight: 300;
	}

	& > p {
		font-family: var(--font-quicksand);
		font-size: 1.25rem;
		font-weight: 500;
	}
}

.newsletter {
	background-color: var(--light-blue);
	color: var(--dark-blue);
	text-align: center;

	& > div {
		padding: 68px 32px;

		& > * + * {
			margin-top: 12px;
		}

		& > a {
			font-family: var(--font-inter);
			text-transform: uppercase;
			font-size: 1.25rem;

			display: block;
			padding: 16px;
			border-radius: 50px;

			background-color: var(--dark-blue);
			color: white;
		}
	}
}

@media screen and (min-width: 768px) {
	.newsletter > div {
		max-width: 420px;

		margin: 0 auto;

		& > a {
			max-width: 320px;
			margin: 0 auto;
		}
	}
}

.footer {
	background-color: var(--dark-blue);
	color: white;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;

	padding: 52px 0;

	& > div:first-of-type {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	& > div > p {
		display: flex;
		align-items: center;
	}

	& .followUs {
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
}

@media screen and (min-width: 768px) {
	.footer {
		gap: 20px;
	}
}

.cartMenu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	background-color: rgba(0, 0, 0, 0.25);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;

	flex-direction: column;

	& > div {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 200px;

		transition: transform 0.3s ease-in-out;
		transform: translateY(-100%);

		background-color: white;
		color: var(--dark-blue);

		display: flex;

		padding: 20px;
		padding-top: 50px;
	}
}

.cartMenu.active {
	opacity: 1;

	& > div {
		transform: translateY(0);
	}
}

.cartMenu.empty > div {
	justify-content: center;
	align-items: center;

	padding: 0;
}

.product {
	width: 100%;

	display: grid;
	grid-template-columns: 100px 1fr 70px;
	gap: 16px;

	& > img {
		border-radius: 25px;
		border: 1px solid var(--dark-blue);
	}

	& > div,
	& > p {
		margin-top: auto;
	}
}
